.game3x3 {
  width: 200px;
  margin: 20px auto;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: blue;
}

.game4x4 {
  width: 200px;
  margin: 20px auto;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: blue;
}

.game5x5 {
  width: 200px;
  margin: 20px auto;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: blue;
}

.ul-element {
  margin-left: -40px;
}

.game-button {
  background-color: #284beb;
  color: #fff;
  font-size: 12px;
  width: 120px;
  height: 25px;
  border: none;
  border-radius: 10px;
}
